:where(:root)                { --scaling: 1; }
:where([data-scaling="xs"])  { --scaling: 0.9; }
:where([data-scaling="sm"])  { --scaling: 0.95; }
:where([data-scaling="md"])  { --scaling: 1; }
:where([data-scaling="lg"])  { --scaling: 1.05; }
:where([data-scaling="xl"])  { --scaling: 1.1; }
