[data-color="base"] {
  --color-1: var(--base-color-1);
  --color-2: var(--base-color-2);
  --color-3: var(--base-color-3);
  --color-4: var(--base-color-4);
  --color-5: var(--base-color-5);
  --color-6: var(--base-color-6);
  --color-7: var(--base-color-7);
  --color-8: var(--base-color-8);
  --color-9: var(--base-color-9);
  --color-10: var(--base-color-10);
  --color-11: var(--base-color-11);
  --color-12: var(--base-color-12);

  --color-a1: var(--base-color-a1);
  --color-a2: var(--base-color-a2);
  --color-a3: var(--base-color-a3);
  --color-a4: var(--base-color-a4);
  --color-a5: var(--base-color-a5);
  --color-a6: var(--base-color-a6);
  --color-a7: var(--base-color-a7);
  --color-a8: var(--base-color-a8);
  --color-a9: var(--base-color-a9);
  --color-a10: var(--base-color-a10);
  --color-a11: var(--base-color-a11);
  --color-a12: var(--base-color-a12);

  --accent-contrast: var(--base-color-contrast);
  --accent-surface: var(--base-color-surface);
  --accent-indicator: var(--base-color-indicator);
  --accent-track: var(--base-color-track);
}
