[data-color="blue"] {
  --color-1: var(--blue-1);
  --color-2: var(--blue-2);
  --color-3: var(--blue-3);
  --color-4: var(--blue-4);
  --color-5: var(--blue-5);
  --color-6: var(--blue-6);
  --color-7: var(--blue-7);
  --color-8: var(--blue-8);
  --color-9: var(--blue-9);
  --color-10: var(--blue-10);
  --color-11: var(--blue-11);
  --color-12: var(--blue-12);

  --color-a1: var(--blue-a1);
  --color-a2: var(--blue-a2);
  --color-a3: var(--blue-a3);
  --color-a4: var(--blue-a4);
  --color-a5: var(--blue-a5);
  --color-a6: var(--blue-a6);
  --color-a7: var(--blue-a7);
  --color-a8: var(--blue-a8);
  --color-a9: var(--blue-a9);
  --color-a10: var(--blue-a10);
  --color-a11: var(--blue-a11);
  --color-a12: var(--blue-a12);

  --accent-contrast: var(--blue-contrast);
  --accent-surface: var(--blue-surface);
  --accent-indicator: var(--blue-indicator);
  --accent-track: var(--blue-track);
}
