[data-color="bronze"] {
  --color-1: var(--bronze-1);
  --color-2: var(--bronze-2);
  --color-3: var(--bronze-3);
  --color-4: var(--bronze-4);
  --color-5: var(--bronze-5);
  --color-6: var(--bronze-6);
  --color-7: var(--bronze-7);
  --color-8: var(--bronze-8);
  --color-9: var(--bronze-9);
  --color-10: var(--bronze-10);
  --color-11: var(--bronze-11);
  --color-12: var(--bronze-12);

  --color-a1: var(--bronze-a1);
  --color-a2: var(--bronze-a2);
  --color-a3: var(--bronze-a3);
  --color-a4: var(--bronze-a4);
  --color-a5: var(--bronze-a5);
  --color-a6: var(--bronze-a6);
  --color-a7: var(--bronze-a7);
  --color-a8: var(--bronze-a8);
  --color-a9: var(--bronze-a9);
  --color-a10: var(--bronze-a10);
  --color-a11: var(--bronze-a11);
  --color-a12: var(--bronze-a12);

  --accent-contrast: var(--bronze-contrast);
  --accent-surface: var(--bronze-surface);
  --accent-indicator: var(--bronze-indicator);
  --accent-track: var(--bronze-track);
}
