[data-color="error"] {
  --color-1: var(--red-1);
  --color-2: var(--red-2);
  --color-3: var(--red-3);
  --color-4: var(--red-4);
  --color-5: var(--red-5);
  --color-6: var(--red-6);
  --color-7: var(--red-7);
  --color-8: var(--red-8);
  --color-9: var(--red-9);
  --color-10: var(--red-10);
  --color-11: var(--red-11);
  --color-12: var(--red-12);

  --color-a1: var(--red-a1);
  --color-a2: var(--red-a2);
  --color-a3: var(--red-a3);
  --color-a4: var(--red-a4);
  --color-a5: var(--red-a5);
  --color-a6: var(--red-a6);
  --color-a7: var(--red-a7);
  --color-a8: var(--red-a8);
  --color-a9: var(--red-a9);
  --color-a10: var(--red-a10);
  --color-a11: var(--red-a11);
  --color-a12: var(--red-a12);

  --accent-contrast: var(--red-contrast);
  --accent-surface: var(--red-surface);
  --accent-indicator: var(--red-indicator);
  --accent-track: var(--red-track);
}
