[data-color="gold"] {
  --color-1: var(--gold-1);
  --color-2: var(--gold-2);
  --color-3: var(--gold-3);
  --color-4: var(--gold-4);
  --color-5: var(--gold-5);
  --color-6: var(--gold-6);
  --color-7: var(--gold-7);
  --color-8: var(--gold-8);
  --color-9: var(--gold-9);
  --color-10: var(--gold-10);
  --color-11: var(--gold-11);
  --color-12: var(--gold-12);

  --color-a1: var(--gold-a1);
  --color-a2: var(--gold-a2);
  --color-a3: var(--gold-a3);
  --color-a4: var(--gold-a4);
  --color-a5: var(--gold-a5);
  --color-a6: var(--gold-a6);
  --color-a7: var(--gold-a7);
  --color-a8: var(--gold-a8);
  --color-a9: var(--gold-a9);
  --color-a10: var(--gold-a10);
  --color-a11: var(--gold-a11);
  --color-a12: var(--gold-a12);

  --accent-contrast: var(--gold-contrast);
  --accent-surface: var(--gold-surface);
  --accent-indicator: var(--gold-indicator);
  --accent-track: var(--gold-track);
}
