[data-color="gray"] {
  --color-1: var(--gray-1);
  --color-2: var(--gray-2);
  --color-3: var(--gray-3);
  --color-4: var(--gray-4);
  --color-5: var(--gray-5);
  --color-6: var(--gray-6);
  --color-7: var(--gray-7);
  --color-8: var(--gray-8);
  --color-9: var(--gray-9);
  --color-10: var(--gray-10);
  --color-11: var(--gray-11);
  --color-12: var(--gray-12);

  --color-a1: var(--gray-a1);
  --color-a2: var(--gray-a2);
  --color-a3: var(--gray-a3);
  --color-a4: var(--gray-a4);
  --color-a5: var(--gray-a5);
  --color-a6: var(--gray-a6);
  --color-a7: var(--gray-a7);
  --color-a8: var(--gray-a8);
  --color-a9: var(--gray-a9);
  --color-a10: var(--gray-a10);
  --color-a11: var(--gray-a11);
  --color-a12: var(--gray-a12);

  --accent-contrast: var(--gray-contrast);
  --accent-surface: var(--gray-surface);
  --accent-indicator: var(--gray-indicator);
  --accent-track: var(--gray-track);
}
