[data-color="mint"] {
  --color-1: var(--mint-1);
  --color-2: var(--mint-2);
  --color-3: var(--mint-3);
  --color-4: var(--mint-4);
  --color-5: var(--mint-5);
  --color-6: var(--mint-6);
  --color-7: var(--mint-7);
  --color-8: var(--mint-8);
  --color-9: var(--mint-9);
  --color-10: var(--mint-10);
  --color-11: var(--mint-11);
  --color-12: var(--mint-12);

  --color-a1: var(--mint-a1);
  --color-a2: var(--mint-a2);
  --color-a3: var(--mint-a3);
  --color-a4: var(--mint-a4);
  --color-a5: var(--mint-a5);
  --color-a6: var(--mint-a6);
  --color-a7: var(--mint-a7);
  --color-a8: var(--mint-a8);
  --color-a9: var(--mint-a9);
  --color-a10: var(--mint-a10);
  --color-a11: var(--mint-a11);
  --color-a12: var(--mint-a12);

  --accent-contrast: var(--mint-contrast);
  --accent-surface: var(--mint-surface);
  --accent-indicator: var(--mint-indicator);
  --accent-track: var(--mint-track);
}
