[data-color="orange"] {
  --color-1: var(--orange-1);
  --color-2: var(--orange-2);
  --color-3: var(--orange-3);
  --color-4: var(--orange-4);
  --color-5: var(--orange-5);
  --color-6: var(--orange-6);
  --color-7: var(--orange-7);
  --color-8: var(--orange-8);
  --color-9: var(--orange-9);
  --color-10: var(--orange-10);
  --color-11: var(--orange-11);
  --color-12: var(--orange-12);

  --color-a1: var(--orange-a1);
  --color-a2: var(--orange-a2);
  --color-a3: var(--orange-a3);
  --color-a4: var(--orange-a4);
  --color-a5: var(--orange-a5);
  --color-a6: var(--orange-a6);
  --color-a7: var(--orange-a7);
  --color-a8: var(--orange-a8);
  --color-a9: var(--orange-a9);
  --color-a10: var(--orange-a10);
  --color-a11: var(--orange-a11);
  --color-a12: var(--orange-a12);

  --accent-contrast: var(--orange-contrast);
  --accent-surface: var(--orange-surface);
  --accent-indicator: var(--orange-indicator);
  --accent-track: var(--orange-track);
}
