[data-color="pink"] {
  --color-1: var(--pink-1);
  --color-2: var(--pink-2);
  --color-3: var(--pink-3);
  --color-4: var(--pink-4);
  --color-5: var(--pink-5);
  --color-6: var(--pink-6);
  --color-7: var(--pink-7);
  --color-8: var(--pink-8);
  --color-9: var(--pink-9);
  --color-10: var(--pink-10);
  --color-11: var(--pink-11);
  --color-12: var(--pink-12);

  --color-a1: var(--pink-a1);
  --color-a2: var(--pink-a2);
  --color-a3: var(--pink-a3);
  --color-a4: var(--pink-a4);
  --color-a5: var(--pink-a5);
  --color-a6: var(--pink-a6);
  --color-a7: var(--pink-a7);
  --color-a8: var(--pink-a8);
  --color-a9: var(--pink-a9);
  --color-a10: var(--pink-a10);
  --color-a11: var(--pink-a11);
  --color-a12: var(--pink-a12);

  --accent-contrast: var(--pink-contrast);
  --accent-surface: var(--pink-surface);
  --accent-indicator: var(--pink-indicator);
  --accent-track: var(--pink-track);
}
