[data-color="plum"] {
  --color-1: var(--plum-1);
  --color-2: var(--plum-2);
  --color-3: var(--plum-3);
  --color-4: var(--plum-4);
  --color-5: var(--plum-5);
  --color-6: var(--plum-6);
  --color-7: var(--plum-7);
  --color-8: var(--plum-8);
  --color-9: var(--plum-9);
  --color-10: var(--plum-10);
  --color-11: var(--plum-11);
  --color-12: var(--plum-12);

  --color-a1: var(--plum-a1);
  --color-a2: var(--plum-a2);
  --color-a3: var(--plum-a3);
  --color-a4: var(--plum-a4);
  --color-a5: var(--plum-a5);
  --color-a6: var(--plum-a6);
  --color-a7: var(--plum-a7);
  --color-a8: var(--plum-a8);
  --color-a9: var(--plum-a9);
  --color-a10: var(--plum-a10);
  --color-a11: var(--plum-a11);
  --color-a12: var(--plum-a12);

  --accent-contrast: var(--plum-contrast);
  --accent-surface: var(--plum-surface);
  --accent-indicator: var(--plum-indicator);
  --accent-track: var(--plum-track);
}
