[data-color="ruby"] {
  --color-1: var(--ruby-1);
  --color-2: var(--ruby-2);
  --color-3: var(--ruby-3);
  --color-4: var(--ruby-4);
  --color-5: var(--ruby-5);
  --color-6: var(--ruby-6);
  --color-7: var(--ruby-7);
  --color-8: var(--ruby-8);
  --color-9: var(--ruby-9);
  --color-10: var(--ruby-10);
  --color-11: var(--ruby-11);
  --color-12: var(--ruby-12);

  --color-a1: var(--ruby-a1);
  --color-a2: var(--ruby-a2);
  --color-a3: var(--ruby-a3);
  --color-a4: var(--ruby-a4);
  --color-a5: var(--ruby-a5);
  --color-a6: var(--ruby-a6);
  --color-a7: var(--ruby-a7);
  --color-a8: var(--ruby-a8);
  --color-a9: var(--ruby-a9);
  --color-a10: var(--ruby-a10);
  --color-a11: var(--ruby-a11);
  --color-a12: var(--ruby-a12);

  --accent-contrast: var(--ruby-contrast);
  --accent-surface: var(--ruby-surface);
  --accent-indicator: var(--ruby-indicator);
  --accent-track: var(--ruby-track);
}
