[data-color="sky"] {
  --color-1: var(--sky-1);
  --color-2: var(--sky-2);
  --color-3: var(--sky-3);
  --color-4: var(--sky-4);
  --color-5: var(--sky-5);
  --color-6: var(--sky-6);
  --color-7: var(--sky-7);
  --color-8: var(--sky-8);
  --color-9: var(--sky-9);
  --color-10: var(--sky-10);
  --color-11: var(--sky-11);
  --color-12: var(--sky-12);

  --color-a1: var(--sky-a1);
  --color-a2: var(--sky-a2);
  --color-a3: var(--sky-a3);
  --color-a4: var(--sky-a4);
  --color-a5: var(--sky-a5);
  --color-a6: var(--sky-a6);
  --color-a7: var(--sky-a7);
  --color-a8: var(--sky-a8);
  --color-a9: var(--sky-a9);
  --color-a10: var(--sky-a10);
  --color-a11: var(--sky-a11);
  --color-a12: var(--sky-a12);

  --accent-contrast: var(--sky-contrast);
  --accent-surface: var(--sky-surface);
  --accent-indicator: var(--sky-indicator);
  --accent-track: var(--sky-track);
}
