[data-color="tomato"] {
  --color-1: var(--tomato-1);
  --color-2: var(--tomato-2);
  --color-3: var(--tomato-3);
  --color-4: var(--tomato-4);
  --color-5: var(--tomato-5);
  --color-6: var(--tomato-6);
  --color-7: var(--tomato-7);
  --color-8: var(--tomato-8);
  --color-9: var(--tomato-9);
  --color-10: var(--tomato-10);
  --color-11: var(--tomato-11);
  --color-12: var(--tomato-12);

  --color-a1: var(--tomato-a1);
  --color-a2: var(--tomato-a2);
  --color-a3: var(--tomato-a3);
  --color-a4: var(--tomato-a4);
  --color-a5: var(--tomato-a5);
  --color-a6: var(--tomato-a6);
  --color-a7: var(--tomato-a7);
  --color-a8: var(--tomato-a8);
  --color-a9: var(--tomato-a9);
  --color-a10: var(--tomato-a10);
  --color-a11: var(--tomato-a11);
  --color-a12: var(--tomato-a12);

  --accent-contrast: var(--tomato-contrast);
  --accent-surface: var(--tomato-surface);
  --accent-indicator: var(--tomato-indicator);
  --accent-track: var(--tomato-track);
}
