[data-color="yellow"] {
  --color-1: var(--yellow-1);
  --color-2: var(--yellow-2);
  --color-3: var(--yellow-3);
  --color-4: var(--yellow-4);
  --color-5: var(--yellow-5);
  --color-6: var(--yellow-6);
  --color-7: var(--yellow-7);
  --color-8: var(--yellow-8);
  --color-9: var(--yellow-9);
  --color-10: var(--yellow-10);
  --color-11: var(--yellow-11);
  --color-12: var(--yellow-12);

  --color-a1: var(--yellow-a1);
  --color-a2: var(--yellow-a2);
  --color-a3: var(--yellow-a3);
  --color-a4: var(--yellow-a4);
  --color-a5: var(--yellow-a5);
  --color-a6: var(--yellow-a6);
  --color-a7: var(--yellow-a7);
  --color-a8: var(--yellow-a8);
  --color-a9: var(--yellow-a9);
  --color-a10: var(--yellow-a10);
  --color-a11: var(--yellow-a11);
  --color-a12: var(--yellow-a12);

  --accent-contrast: var(--yellow-contrast);
  --accent-surface: var(--yellow-surface);
  --accent-indicator: var(--yellow-indicator);
  --accent-track: var(--yellow-track);
}
