:root,
.light,
.light-theme {
  --neutral-1: #fcfcfc;
  --neutral-2: #f9f9f9;
  --neutral-3: #f0f0f0;
  --neutral-4: #e8e8e8;
  --neutral-5: #e0e0e0;
  --neutral-6: #d9d9d9;
  --neutral-7: #cecece;
  --neutral-8: #bbbbbb;
  --neutral-9: #8d8d8d;
  --neutral-10: #838383;
  --neutral-11: #646464;
  --neutral-12: #202020;
  --neutral-a1: #00000003;
  --neutral-a2: #00000006;
  --neutral-a3: #0000000f;
  --neutral-a4: #00000017;
  --neutral-a5: #0000001f;
  --neutral-a6: #00000026;
  --neutral-a7: #00000031;
  --neutral-a8: #00000044;
  --neutral-a9: #00000072;
  --neutral-a10: #0000007c;
  --neutral-a11: #0000009b;
  --neutral-a12: #000000df;
  --neutral-surface: #ffffffcc;
  --neutral-indicator: var(--neutral-9);
  --neutral-track: var(--neutral-9);
}
@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --neutral-1: color(display-p3 0.988 0.988 0.988);
      --neutral-2: color(display-p3 0.975 0.975 0.975);
      --neutral-3: color(display-p3 0.939 0.939 0.939);
      --neutral-4: color(display-p3 0.908 0.908 0.908);
      --neutral-5: color(display-p3 0.88 0.88 0.88);
      --neutral-6: color(display-p3 0.849 0.849 0.849);
      --neutral-7: color(display-p3 0.807 0.807 0.807);
      --neutral-8: color(display-p3 0.732 0.732 0.732);
      --neutral-9: color(display-p3 0.553 0.553 0.553);
      --neutral-10: color(display-p3 0.512 0.512 0.512);
      --neutral-11: color(display-p3 0.392 0.392 0.392);
      --neutral-12: color(display-p3 0.125 0.125 0.125);
      --neutral-a1: color(display-p3 0 0 0 / 0.012);
      --neutral-a2: color(display-p3 0 0 0 / 0.024);
      --neutral-a3: color(display-p3 0 0 0 / 0.063);
      --neutral-a4: color(display-p3 0 0 0 / 0.09);
      --neutral-a5: color(display-p3 0 0 0 / 0.122);
      --neutral-a6: color(display-p3 0 0 0 / 0.153);
      --neutral-a7: color(display-p3 0 0 0 / 0.192);
      --neutral-a8: color(display-p3 0 0 0 / 0.267);
      --neutral-a9: color(display-p3 0 0 0 / 0.447);
      --neutral-a10: color(display-p3 0 0 0 / 0.486);
      --neutral-a11: color(display-p3 0 0 0 / 0.608);
      --neutral-a12: color(display-p3 0 0 0 / 0.875);
      --neutral-surface: color(display-p3 1 1 1 / 0.8);
    }
  }
}
.dark,
.dark-theme {
  --neutral-1: #111111;
  --neutral-2: #191919;
  --neutral-3: #222222;
  --neutral-4: #2a2a2a;
  --neutral-5: #313131;
  --neutral-6: #3a3a3a;
  --neutral-7: #484848;
  --neutral-8: #606060;
  --neutral-9: #6e6e6e;
  --neutral-10: #7b7b7b;
  --neutral-11: #b4b4b4;
  --neutral-12: #eeeeee;
  --neutral-a1: #00000000;
  --neutral-a2: #ffffff09;
  --neutral-a3: #ffffff12;
  --neutral-a4: #ffffff1b;
  --neutral-a5: #ffffff22;
  --neutral-a6: #ffffff2c;
  --neutral-a7: #ffffff3b;
  --neutral-a8: #ffffff55;
  --neutral-a9: #ffffff64;
  --neutral-a10: #ffffff72;
  --neutral-a11: #ffffffaf;
  --neutral-a12: #ffffffed;
  --neutral-surface: #21212180;
  --neutral-indicator: var(--neutral-9);
  --neutral-track: var(--neutral-9);
}
@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --neutral-1: color(display-p3 0.067 0.067 0.067);
      --neutral-2: color(display-p3 0.098 0.098 0.098);
      --neutral-3: color(display-p3 0.135 0.135 0.135);
      --neutral-4: color(display-p3 0.163 0.163 0.163);
      --neutral-5: color(display-p3 0.192 0.192 0.192);
      --neutral-6: color(display-p3 0.228 0.228 0.228);
      --neutral-7: color(display-p3 0.283 0.283 0.283);
      --neutral-8: color(display-p3 0.375 0.375 0.375);
      --neutral-9: color(display-p3 0.431 0.431 0.431);
      --neutral-10: color(display-p3 0.484 0.484 0.484);
      --neutral-11: color(display-p3 0.706 0.706 0.706);
      --neutral-12: color(display-p3 0.933 0.933 0.933);
      --neutral-a1: color(display-p3 0 0 0 / 0);
      --neutral-a2: color(display-p3 1 1 1 / 0.034);
      --neutral-a3: color(display-p3 1 1 1 / 0.071);
      --neutral-a4: color(display-p3 1 1 1 / 0.105);
      --neutral-a5: color(display-p3 1 1 1 / 0.134);
      --neutral-a6: color(display-p3 1 1 1 / 0.172);
      --neutral-a7: color(display-p3 1 1 1 / 0.231);
      --neutral-a8: color(display-p3 1 1 1 / 0.332);
      --neutral-a9: color(display-p3 1 1 1 / 0.391);
      --neutral-a10: color(display-p3 1 1 1 / 0.445);
      --neutral-a11: color(display-p3 1 1 1 / 0.685);
      --neutral-a12: color(display-p3 1 1 1 / 0.929);
      --neutral-surface: color(display-p3 0.1255 0.1255 0.1255 / 0.5);
    }
  }
}
:root {
  --neutral-contrast: white;
}
