@import "shiki-magic-move/dist/style.css";

.shiki-magic-move-container {
  font-family: var(--__sl-font-mono);
  font-size: var(--sl-text-code);
}

:root {
  --sl-content-width: 60rem;
  --sl-sidebar-width: 16rem;
}
