[data-neutral="gray"] {
  --neutral-1: var(--gray-1);
  --neutral-2: var(--gray-2);
  --neutral-3: var(--gray-3);
  --neutral-4: var(--gray-4);
  --neutral-5: var(--gray-5);
  --neutral-6: var(--gray-6);
  --neutral-7: var(--gray-7);
  --neutral-8: var(--gray-8);
  --neutral-9: var(--gray-9);
  --neutral-10: var(--gray-10);
  --neutral-11: var(--gray-11);
  --neutral-12: var(--gray-12);

  --neutral-a1: var(--gray-a1);
  --neutral-a2: var(--gray-a2);
  --neutral-a3: var(--gray-a3);
  --neutral-a4: var(--gray-a4);
  --neutral-a5: var(--gray-a5);
  --neutral-a6: var(--gray-a6);
  --neutral-a7: var(--gray-a7);
  --neutral-a8: var(--gray-a8);
  --neutral-a9: var(--gray-a9);
  --neutral-a10: var(--gray-a10);
  --neutral-a11: var(--gray-a11);
  --neutral-a12: var(--gray-a12);

  --neutral-surface: var(--gray-surface);
  --neutral-indicator: var(--gray-indicator);
  --neutral-track: var(--gray-track);
  --neutral-contrast: var(--gray-contrast);
}
