[data-accent="base"] {
  --accent-1: var(--base-color-1);
  --accent-2: var(--base-color-2);
  --accent-3: var(--base-color-3);
  --accent-4: var(--base-color-4);
  --accent-5: var(--base-color-5);
  --accent-6: var(--base-color-6);
  --accent-7: var(--base-color-7);
  --accent-8: var(--base-color-8);
  --accent-9: var(--base-color-9);
  --accent-10: var(--base-color-10);
  --accent-11: var(--base-color-11);
  --accent-12: var(--base-color-12);

  --accent-a1: var(--base-color-a1);
  --accent-a2: var(--base-color-a2);
  --accent-a3: var(--base-color-a3);
  --accent-a4: var(--base-color-a4);
  --accent-a5: var(--base-color-a5);
  --accent-a6: var(--base-color-a6);
  --accent-a7: var(--base-color-a7);
  --accent-a8: var(--base-color-a8);
  --accent-a9: var(--base-color-a9);
  --accent-a10: var(--base-color-a10);
  --accent-a11: var(--base-color-a11);
  --accent-a12: var(--base-color-a12);

  --accent-contrast: var(--base-color-contrast);
  --accent-surface: var(--base-color-surface);
  --accent-indicator: var(--base-color-indicator);
  --accent-track: var(--base-color-track);
}
