[data-base-color="mauve"] {
  --base-color-1: var(--mauve-1);
  --base-color-2: var(--mauve-2);
  --base-color-3: var(--mauve-3);
  --base-color-4: var(--mauve-4);
  --base-color-5: var(--mauve-5);
  --base-color-6: var(--mauve-6);
  --base-color-7: var(--mauve-7);
  --base-color-8: var(--mauve-8);
  --base-color-9: var(--mauve-9);
  --base-color-10: var(--mauve-10);
  --base-color-11: var(--mauve-11);
  --base-color-12: var(--mauve-12);

  --base-color-a1: var(--mauve-a1);
  --base-color-a2: var(--mauve-a2);
  --base-color-a3: var(--mauve-a3);
  --base-color-a4: var(--mauve-a4);
  --base-color-a5: var(--mauve-a5);
  --base-color-a6: var(--mauve-a6);
  --base-color-a7: var(--mauve-a7);
  --base-color-a8: var(--mauve-a8);
  --base-color-a9: var(--mauve-a9);
  --base-color-a10: var(--mauve-a10);
  --base-color-a11: var(--mauve-a11);
  --base-color-a12: var(--mauve-a12);

  --base-color-contrast: var(--mauve-contrast);
  --base-color-surface: var(--mauve-surface);
  --base-color-indicator: var(--mauve-indicator);
  --base-color-track: var(--mauve-track);
}
