[data-base-color="olive"] {
  --base-color-1: var(--olive-1);
  --base-color-2: var(--olive-2);
  --base-color-3: var(--olive-3);
  --base-color-4: var(--olive-4);
  --base-color-5: var(--olive-5);
  --base-color-6: var(--olive-6);
  --base-color-7: var(--olive-7);
  --base-color-8: var(--olive-8);
  --base-color-9: var(--olive-9);
  --base-color-10: var(--olive-10);
  --base-color-11: var(--olive-11);
  --base-color-12: var(--olive-12);

  --base-color-a1: var(--olive-a1);
  --base-color-a2: var(--olive-a2);
  --base-color-a3: var(--olive-a3);
  --base-color-a4: var(--olive-a4);
  --base-color-a5: var(--olive-a5);
  --base-color-a6: var(--olive-a6);
  --base-color-a7: var(--olive-a7);
  --base-color-a8: var(--olive-a8);
  --base-color-a9: var(--olive-a9);
  --base-color-a10: var(--olive-a10);
  --base-color-a11: var(--olive-a11);
  --base-color-a12: var(--olive-a12);

  --base-color-contrast: var(--olive-contrast);
  --base-color-surface: var(--olive-surface);
  --base-color-indicator: var(--olive-indicator);
  --base-color-track: var(--olive-track);
}
