[data-gray-color="sage"] {
  --base-color-1: var(--sage-1);
  --base-color-2: var(--sage-2);
  --base-color-3: var(--sage-3);
  --base-color-4: var(--sage-4);
  --base-color-5: var(--sage-5);
  --base-color-6: var(--sage-6);
  --base-color-7: var(--sage-7);
  --base-color-8: var(--sage-8);
  --base-color-9: var(--sage-9);
  --base-color-10: var(--sage-10);
  --base-color-11: var(--sage-11);
  --base-color-12: var(--sage-12);

  --base-color-a1: var(--sage-a1);
  --base-color-a2: var(--sage-a2);
  --base-color-a3: var(--sage-a3);
  --base-color-a4: var(--sage-a4);
  --base-color-a5: var(--sage-a5);
  --base-color-a6: var(--sage-a6);
  --base-color-a7: var(--sage-a7);
  --base-color-a8: var(--sage-a8);
  --base-color-a9: var(--sage-a9);
  --base-color-a10: var(--sage-a10);
  --base-color-a11: var(--sage-a11);
  --base-color-a12: var(--sage-a12);

  --base-color-contrast: var(--sage-contrast);
  --base-color-surface: var(--sage-surface);
  --base-color-indicator: var(--sage-indicator);
  --base-color-track: var(--sage-track);
}
