[data-gray-color="slate"] {
  --base-color-1: var(--slate-1);
  --base-color-2: var(--slate-2);
  --base-color-3: var(--slate-3);
  --base-color-4: var(--slate-4);
  --base-color-5: var(--slate-5);
  --base-color-6: var(--slate-6);
  --base-color-7: var(--slate-7);
  --base-color-8: var(--slate-8);
  --base-color-9: var(--slate-9);
  --base-color-10: var(--slate-10);
  --base-color-11: var(--slate-11);
  --base-color-12: var(--slate-12);

  --base-color-a1: var(--slate-a1);
  --base-color-a2: var(--slate-a2);
  --base-color-a3: var(--slate-a3);
  --base-color-a4: var(--slate-a4);
  --base-color-a5: var(--slate-a5);
  --base-color-a6: var(--slate-a6);
  --base-color-a7: var(--slate-a7);
  --base-color-a8: var(--slate-a8);
  --base-color-a9: var(--slate-a9);
  --base-color-a10: var(--slate-a10);
  --base-color-a11: var(--slate-a11);
  --base-color-a12: var(--slate-a12);

  --base-color-contrast: var(--slate-contrast);
  --base-color-surface: var(--slate-surface);
  --base-color-indicator: var(--slate-indicator);
  --base-color-track: var(--slate-track);
}
